mixin head(meta_title)
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

        title #{meta_title}

        link(rel='icon' href='/assets/icons/logo.png')

        // Bootstrap stylesheet
        link(href="/css/bootstrap.css" rel="stylesheet")

        link(rel='stylesheet' href='/css/main.css')

        if block
            block
