mixin player(user_info)
  .footer.w-100(style="height: auto;").mt-auto.position-fixed.bottom-0.pb-1
    span#footer-bg.position-absolute.bottom-0.w-100(style="z-index: -1; pointer-events: none; padding-top: 200px; height: 100%; background: linear-gradient( 0deg, #0a0a0ae0 0%, hsla(0, 0%, 0%, 0.788) 19%, hsla(0, 0%, 0%, 0.581) 34%, hsla(0, 0%, 0%, 0.402) 47%, hsla(0, 0%, 0%, 0.308) 56.5%, hsla(0, 0%, 0%, 0.214) 65%, hsla(0, 0%, 0%, 0.156) 73%, hsla(0, 0%, 0%, 0.095) 80.2%, hsla(0, 0%, 0%, 0.072) 86.1%, hsla(0, 0%, 0%, 0.051) 91%, hsla(0, 0%, 0%, 0.018) 95.2%, hsla(0, 0%, 0%, 0.009) 98.2%, hsla(0, 0%, 0%, 0) 100%);")

    .container-fluid.h-100.align-items-center
      #mobile-playing-title.d-flex.d-sm-none.w-100.flex-row.align-items-center.justify-content-center.pt-3
        p.mw-100(:title="current_song_info.name") {{ current_song_info.name }}
      #progress-bar-container.slidecontainer.d-sm-block(style="height: auto;")
        input#player-progress-bar.slider(type='range' min='0' max='100' step='0.000001' v-model="progress_slider_value" @input.prevent="updatePlayerTime")

      .row
        #song-info-container.h-100.col-4.d-none.d-sm-flex.flex-row.justify-content-start.align-items-center(style='z-index: 101;')
          #footer-thumbnail-container.h-100.pe-2.d-none.d-lg-flex.flex-row.justify-content-center.align-items-center
            img#footer-thumbnail(:src="current_song_info.img_src", style="width: 2.4rem;").img-fluid

          #song-info-container-right.h-100.d-flex.flex-column.justify-content-center.align-items-start.w-75
            #playing-title-text-container.d-flex.mw-100.flex-row.align-items-center.justify-content-center
              p#playing-title.mw-100(:title="current_song_info.name") {{ current_song_info.name }}

            p#time-counter.mono-font {{ time_counter_text }}

        .controls.h-100.col-12.col-sm-4.d-flex.justify-content-center.align-items-center
          button.flex-shrink-0.d-sm-none.d-block(title=__("footer_hide_tooltip") :style='{transform: is_player_hidden ? "" : "scaleY(-0.9)"}' @click="togglePlayerVisibility")
            svg.icon.icon-tabler.icon-tabler-arrow-bar-up(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              line(x1='12' y1='4' x2='12' y2='14')
              line(x1='12' y1='4' x2='16' y2='8')
              line(x1='12' y1='4' x2='8' y2='8')
              line(x1='4' y1='20' x2='20' y2='20')
          button.flex-shrink-0#volume-button.position-relative(title=__("footer_volume_tooltip"))
            svg#volume-button-icon-normal.icon.icon-tabler.icon-tabler-volume( @click="is_volume_slider_visible = !is_volume_slider_visible" v-show="volume_value > 0" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M15 8a5 5 0 0 1 0 8')
              path(d='M17.7 5a9 9 0 0 1 0 14')
              path(d='M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5')
            svg#volume-button-icon-muted.icon.icon-tabler.icon-tabler-volume-3( @click="is_volume_slider_visible = !is_volume_slider_visible" style="display:none;" v-show="volume_value <= 0" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5')
              path(d='M16 10l4 4m0 -4l-4 4')
            .slidecontainer(v-show="is_volume_slider_visible" style="display:none;")
              input#myRange.slider(type='range' min='0' max='100' :disabled="!is_volume_slider_visible" orient='vertical' v-model="volume_value" @input="changeVolume"   @blur="is_volume_slider_visible = false"  )

          button.flex-shrink-0#previous-button(title=__("footer_previous_tooltip") @click="playPrevious")
            svg.icon.icon-tabler.icon-tabler-player-track-prev(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M21 5v14l-8 -7z')
              path(d='M10 5v14l-8 -7z')

          button.flex-shrink-0#pause-button(@click="togglePlay" title=__("footer_play_tooltip"))
            svg#play-button-icon-play.icon.icon-tabler.icon-tabler-player-play(v-show="!is_playing" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M7 4v16l13 -8z')
            svg#play-button-icon-paused.icon.icon-tabler.icon-tabler-player-pause(v-show="is_playing" style="display:none;" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              rect(x='6' y='5' width='4' height='14' rx='1')
              rect(x='14' y='5' width='4' height='14' rx='1')

          button.flex-shrink-0#next-button(title=__("footer_next_tooltip") @click="playNext")
            svg.icon.icon-tabler.icon-tabler-player-track-next(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M3 5v14l8 -7z')
              path(d='M14 5v14l8 -7z')

          button.d-block.position-relative.flex-shrink-0.h-100#loop-button(style ='overflow: hidden;' title=__("footer_loop_tooltip") @click="toggleVideoLoop")
            svg.icon.icon-tabler.icon-tabler-refresh(:class="{ rotate: is_looping || is_playlist_loop_mode }" xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              path(d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4')
              path(d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4')

            p.position-absolute.top-50.start-50.translate-middle#loop-counter(v-show="is_looping" style="display:none; font-size: .7rem;" :title="$t('message.footer_loop_count_tooltip', {count:loop_count})") {{ loop_count }}

            svg.position-absolute.top-50.start-50.translate-middle.icon.icon-tabler.icon-tabler-playlist#loop-playlist-icon(title=__("footer_loop_playlist_tooltip") style="display:none; padding-top: 2px;" v-show="is_playlist_loop_mode" xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewbox='0 0 24 24' stroke-width='1' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              circle(cx='14' cy='17' r='3')
              path(d='M17 17v-13h4')
              path(d='M13 5h-10')
              line(x1='3' y1='9' x2='13' y2='9')
              path(d='M9 13h-6')

          button.flex-shrink-0.d-sm-none.d-block(style='transform: scale(0.9);' title=__("footer_fullscreen_tooltip") @click="toggleFullscreen")
            svg.icon.icon-tabler.icon-tabler-arrows-diagonal(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              polyline(points='16 4 20 4 20 8')
              line(x1='14' y1='10' x2='20' y2='4')
              polyline(points='8 20 4 20 4 16')
              line(x1='4' y1='20' x2='10' y2='14')

        .right-div.h-100.col.d-none.d-sm-flex.justify-content-end.align-items-center
          if user_info
              button#playlist-button(title=__("footer_playlists_tooltip") @click="showPlaylist" data-bs-target="#playlist-modal" data-bs-toggle="modal" data-bs-dismiss="modal")
                svg.icon.icon-tabler.icon-tabler-playlist(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
                  path(stroke='none' d='M0 0h24v24H0z' fill='none')
                  circle(cx='14' cy='17' r='3')
                  path(d='M17 17v-13h4')
                  path(d='M13 5h-10')
                  line(x1='3' y1='9' x2='13' y2='9')
                  path(d='M9 13h-6')

          button#hide-button(title=__("footer_hide_tooltip") :style='{transform: is_player_hidden ? "" : "scaleY(-0.9)"}' @click="togglePlayerVisibility")
            svg.icon.icon-tabler.icon-tabler-arrow-bar-up(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              line(x1='12' y1='4' x2='12' y2='14')
              line(x1='12' y1='4' x2='16' y2='8')
              line(x1='12' y1='4' x2='8' y2='8')
              line(x1='4' y1='20' x2='20' y2='20')

          button#fullscreen-button(style='transform: scale(0.9);' title=__("footer_fullscreen_tooltip") @click="toggleFullscreen")
            svg.icon.icon-tabler.icon-tabler-arrows-diagonal(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewbox='0 0 24 24' stroke-width='0.7' stroke='#ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round')
              path(stroke='none' d='M0 0h24v24H0z' fill='none')
              polyline(points='16 4 20 4 20 8')
              line(x1='14' y1='10' x2='20' y2='4')
              polyline(points='8 20 4 20 4 16')
              line(x1='4' y1='20' x2='10' y2='14')
