.input-group, form {
  input, textarea {
    color: $text-color !important;
    border-radius: 8px;
    outline: none;
    background-color: $darker !important;
    border-color: $text-tertiary-color !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    caret-color: $text-color !important;

    &::placeholder {
      color: $text-tertiary-color !important;
    }

    &:focus {
      border-color: $text-color !important;
    }
  }

  &::placeholder {
    color: $text-tertiary-color !important;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: $text-color !important;
  }

  button {
    filter:brightness(70%);

    &:hover {
      filter:brightness(100%);
    }
  }
}

.autoComplete_wrapper {
  display: inline-block;
  position: relative;
  height:100%;
  flex-grow: 0.4;
  // margin-left: 40px;
  // margin-right: 15px;
}

.search-box-wrapper {
	display: inline-block;
	position: relative;
	height:100%;
	// flex-grow: 0.4;
}

#search-box {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1rem;
	@include drop-shadow;

	color: $text-color !important;
	border-radius: 8px;
	outline: none;
	background-color: $darker !important;
	border-color: $text-tertiary-color !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px !important;

	&::placeholder {
		color: $text-tertiary-color !important;
	}

	&:focus {
		border-color: $text-color !important;
	}
}

.autoComplete_wrapper > input  {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  @include drop-shadow;

  color: $text-color !important;
  border-radius: 8px;
  outline: none;
  background-color: $darker !important;
  border-color: $text-tertiary-color !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px !important;

  &::placeholder {
    color: $text-tertiary-color !important;
  }

  &:focus {
    border-color: $text-color !important;
  }
}

.autoComplete_wrapper > input::placeholder {
  transition: all 0.3s ease;
}

.autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0.5rem 0 0 0;
  // border-radius: 0.6rem;
  background-color: $dark-full;
  // box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  // border: 1px solid $text-color;
  z-index: 1000;
  outline: none;
}

.autoComplete_wrapper > ul[hidden],
.autoComplete_wrapper > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.autoComplete_wrapper > ul > li {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 1rem;
  color: $text-secondary-color;
  transition: all 0.1s ease-in-out;
  border-radius: 0.35rem;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li::selection {
  color: $text-color;
  background-color: $dark-transparent;
}

.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  // background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: $text-color;
  font-weight: bold;
}

.autoComplete_wrapper > ul > li mark::selection {
  // color: rgba(#ffffff, 0);
  // background-color: rgba(#ffffff, 0);
}

.autoComplete_wrapper > ul > li[aria-selected="true"] {
  // background-color: rgba(123, 123, 123, 0.1);
}

@media only screen and (max-width: 576px) {
  .autoComplete_wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    margin-bottom: 15px;
    width: 100%;
    height: 3rem;
  }
}
