@media (max-width: 768px) {
    .navbar {
        background-color: $dark-full !important;
        .navbar-collapse {
            .autoComplete_wrapper {
                width: 100%;
                height: auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 576px) {
    .navbar {
        background-color: $dark-full !important;

        .navbar-nav {
            align-items: flex-start !important;

            li {
                width: 100%;
            }

            #account-link-mobile {
                order: 1;
            }

            #logout-link-mobile {
                order: 2;
            }
        }
    }
}

.nav-link {
    color: $text-color !important;
    text-decoration: none;
    transition: none;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:1000;
}

