$tippy-color: #2b2b2b;

/* Theme for tippy */
.tippy-box[data-theme~='dark'] {
  background-color: $tippy-color;
  color: $text-color;
  @include drop-shadow;
}

.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $tippy-color;
}

.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: $tippy-color;
}

.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: $tippy-color;
}

.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: $tippy-color;
}
