.track-item {
    text-align: center;

    a {
        text-decoration: none;
    }

    .track-item-container {
        border-radius: 5px;

        @include drop-shadow;

        img {
            border-radius: 15px;
            height: 70%;
            width: 100%;
            object-fit: none;
        }

        svg {
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    .user-avatar {
        width: 2rem;
        height: 2rem;
    }

    .track-item-title {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: bold;
    }

    @media only screen and (max-width: 576px) {
        svg {
            width: .6rem;
            height: .6rem;
        }

        .user-avatar {
            width: 2rem;
            height: 2rem;
        }
    }
}
