.user-avatar {
    @include drop-shadow();
    object-fit: cover;
}

.user-item {
    text-align: center;

    a {
        text-decoration: none;

        &:hover {
            filter: brightness(100%);
        }
    }

    .user-item-container {
        // background-color: $darker;
        border-radius: 15px;

        @include drop-shadow;

        img {
            border-radius: 15px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            object-fit: cover;
        }

        .user-item-title {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-weight: bold;
        }

        .user-item-description {
            color: $text-secondary-color;
            text-align: left;
            @include wrap-text-ellipsis();
        }

        &:hover {
            // background-color: $highlight-color;
            @include enlarge-highlight(1.05);
        }
    }
}
