doctype html

include partials/uboa
include partials/nav
include partials/head
include partials/wallpaper
include partials/empty_popup
+uboa

- var meta_title
+head(`404 / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    .container-fluid.mt-4.text-center(style="overflow: none;")
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-6.p-5
                +empty_popup("Could not find resource")

// Bootstrap
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
