doctype html

include partials/uboa
include partials/head
include partials/nav
include partials/wallpaper
+uboa

-var meta_title
+head(`${__("about")} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    .container-fluid.mt-4.text-center
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-6.card-background.p-5.mb-5
                img.img-fluid(src="/assets/icons/logo.png" style="height: 7rem;")

                .d-flex.flew-row.justify-content-center.align-items-end
                    h1.fw-bold.m-0 #{meta_title}
                    p.ms-1 v#{app_version}

                h5.mt-2 #{meta_desc}

                hr

                - var booru_info
                - var discord_link
                div.text-start.my-4
                    h3.fw-bold #{__("about")}
                    p #{__("site_description")}

                    if booru_info.url
                        h3.mt-5.fw-bold #{__("about_booru_title")}
                        p #{meta_title}'s background art is sourced from
                            a(href=booru_info.url target="_blank") #{booru_info.name}
                            | . So if you want your favorite art to show here, upload them on the booru
                            |  and credit the artist properly.

                    if discord_link
                        h3.mt-5.fw-bold Discord
                        p Join other users on the
                            a(href=discord_link target="_blank") Discord server
                            | !

                    h3.mt-5.fw-bold Masada
                    p This site is powered by the Masada engine.
                    p You can find the source code for Masada on <a href="https://gitlab.com/fsnowdin/Masada" target="_blank">GitLab</a>

                    p This site uses data from YouTube and YouTube embeds to serve media to its users.

                div.text-start.d-flex
                    - var bg_game_name
                    - var bg_artist_name
                    - var bg_art_source
                    - var bg_art_text
                    if bg_game_name && bg_artist_name && bg_art_source
                        p.me-2 #{__("about_background_title")}:
                        a(href=bg_art_source target="_blank" title="Open source")
                            p.art-credit-text #{__("art_credit", {game_name: bg_game_name, artist_name: bg_artist_name})}

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")
