doctype html

include partials/nav
include partials/toast
include partials/wallpaper
include partials/loading_popup
include partials/empty_popup
include partials/uboa
include partials/head
+uboa

- var meta_title
+head(`${__("comments_header")} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4.mb-5.px-4.px-md-5.main-content#app
      h3.ms-2.fw-bold.mb-4 #{__("comments_header")}
      .row.gy-5
          +loading_popup()(v-show="comments_list.length === 0 && !is_empty")
          +empty_popup()(v-show="is_empty" style="display: none;")

          .col-12(v-for="item in comments_list")
              .row.w-100.gy-2
                  track-item.col-12(:key="item._id" :title="`${item.name}`" :href=("`/?track_id=${item._id}`")  :img_src="item.img_src" :listeners_count="item.listeners.length" :favorites_count="item.favorites.length" :comments_count="item.comments.length" :poster="item.poster" :upload_time="item.upload_time")
                  .col-12.col-md-9
                      .flex-column.card-background.mt-3.mt-md-0.p-4.pt-2.p-md-5.pt-md-3(v-show="item" style="display:none;")
                          comment-item.w-100.my-4.px-3.px-md-0(v-for="comment in item.comments.slice().reverse()" :id="comment._id" :username="comment.user.username" :href="`/user/${comment.user.username}`" :avatar_url="comment.user.avatar_url" :content="comment.content" :timestamp="comment.timestamp")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Vue
script(src="/js/lib/vue.js")

// Moment.js
script(src="/js/lib/moment.min.js")

// For Markdown rendering
script(src="/js/lib/marked.min.js")
script(src="/js/lib/purify.min.js")

script(type="module" src="/js/comment.js")
