doctype html

include partials/nav
include partials/toast
include partials/wallpaper
include partials/loading_popup
include partials/empty_popup
include partials/head
include partials/uboa
+uboa

-var profile_info
-var is_current_user
-var meta_title
+head(`${profile_info.username}${__("favorites_header")} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4.px-4.px-md-5.main-content#app
        .d-flex.flex-row
            a(href=`/user/${profile_info.username}`)
                h3 #{profile_info.username}
            h3.ms-2.fw-bold.mb-4 #{__("favorites_header")}
        .row.gy-4
            +loading_popup()(v-show="favorites_list.length === 0 && !is_empty")
            +empty_popup()(v-show="is_empty" style="display: none;")

            track-item.col-6.col-md-3(v-for="item in favorites_list" :id="item._id" :title="item.name" :href=("`/?track_id=${item._id}`")  :img_src="item.img_src" :favorites_count="item.favorites.length" :comments_count="item.comments.length" :poster="item.poster" :upload_time="item.upload_time")

script.
    let profile_info = !{JSON.stringify({ username: profile_info.username } )};

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Vue
script(src="/js/lib/vue.js")

// Moment.js
script(src="/js/lib/moment.min.js")

script(type="module" src="/js/favorite.js")
