doctype html

include partials/nav
include partials/toast
include partials/wallpaper
include partials/loading_popup
include partials/empty_popup
include partials/head
include partials/uboa
+uboa

- var meta_title
- var meta_url
- var meta_desc
- var meta_img
+head(meta_title)
  meta(name='description' content=meta_desc)
  // OpenGraph stuff
  meta(property='og:title' content=meta_title)
  meta(property='og:url' content=meta_url)
  meta(property='og:description' content=meta_desc)
  meta(property='og:image' content=meta_img)
  meta(property='og:type' content='website')
  meta(property='og:locale' content='en_US')
  // For Twitter
  meta(name='twitter:title' content=meta_title)
  meta(name='twitter:description' content=meta_desc)
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:image' content=meta_img)

  style(type="text/css").
    #banner-bottom-gradient {
        display:none;
    }
    @media only screen and (max-width: 576px) {
      .carousel{
          position: relative !important;
      }
      #banner-bottom-gradient {
          display:block;
      }
      #banner-top-gradient {
          display: none;
      }
      #spacer {
          height: 30px !important;
      }
      #trailer{
          width: 100% !important;
      }
    }

    #random-img:hover {
      transform: scale(1.1);
    }

body#app
  -var user_info
  +nav(true, user_info)(style="z-index: 100")

  //- #carouselExampleControls.carousel.slide(v-show="featured_post_info.title" data-bs-ride='carousel' style="max-height: 50vh; display:none;").position-absolute.start-50.top-0.translate-middle-x.w-100
  //-   .position-relative
  //-     +loading_popup()(v-show="featured_post_info.img_list ? featured_post_info.img_list === [] : false")
  //-     .carousel-inner.drop-shadow
  //-       .carousel-item(v-for="(img, index) in featured_post_info.img_list" :class="{ active: index === 0 }"  data-bs-interval="3000")
  //-         img.d-block.w-100(:src="img" style="max-height: 70vh; object-fit: cover;")

  //-     .d-flex.flex-column.position-absolute.bottom-0.start-0.px-4.pb-4.w-100
  //-       img.mb-2(style="width: 30vw;"  :src="featured_post_info.title_logo_src")
  //-       h4 Featured: <strong><a :href="featured_post_info.title_link" target="_blank">{{ featured_post_info.title }}</a></strong>

  - var banner
  if banner
    #bannerCarousel.carousel.slide(data-bs-ride='carousel' style="height: 70vh;").position-absolute.start-50.top-0.translate-middle-x.w-100
      .position-relative.h-100
        .carousel-inner.drop-shadow.h-100
          .carousel-item.active.h-100
            #banner-bottom-gradient.gradient-background.position-absolute.h-100.w-100.start-50.top-50.translate-middle
            #banner-top-gradient.top-gradient-background.position-absolute.h-100.w-100.start-50.top-50.translate-middle
            img.d-block.w-100.h-100(src=banner.path style="object-fit: cover;")

        .d-flex.flex-column.position-absolute.bottom-0.start-0.px-4.pb-4.w-100
          a.mw-100(href=banner.source)
            h4.mw-100.text-wrap.fw-bold #{__("art_credit", { game_name: banner.game_name, artist_name: banner.artist_name})}

    #spacer(style="height: 60vh;")

  - var bg_src
  +wallpaper(bg_src)

  noscript This site doesn&apos;t work without JavaScript. Please enable it.

  +toast

  .container-fluid.content.mt-5.px-4.px-md-5.main-content
    //- div(v-show="featured_post_info.title")
    //-   h4#featured.mb-3.fw-bold Featured Playlist
    //-   .d-flex.flex-row.flex-nowrap.overflow-auto.align-items-center.w-100.mb-5.pb-4
    //-     +loading_popup()(v-show="featured_post_info.posts ? featured_post_info.posts.length === 0 : false")
    //-     track-item.me-3(v-for="upload in featured_post_info.posts" :key="upload._id" :title="`${upload.name}`" :href=("`?track_id=${upload._id}&playlist_id=${featured_post_info.playlist_id}`") :listeners_count="upload.listeners ? upload.listeners.length : 0" :img_src="upload.img_src" :favorites_count="upload.favorites.length" :comments_count="upload.comments.length" :poster="upload.poster" :upload_time="upload.upload_time")

    - var random_track_info
    if random_track_info
      div()
        h4#random.fw-bold.mb-3 #{__("random_track")}
        a(href=`/?track_id=${random_track_info._id}`)
          #random-container.position-relative.w-100.mb-5.drop-shadow.rounded.overflow-hidden(style="height: 50vh;" )
            #random-img.position-relative.w-100.h-100(style=`background-image: url(${random_track_info.img_src_wide}); background-size: cover; background-position:center; background-repeat: no-repeat; transition: all .2s ease-in; }`)
              .position-absolute.top-50.start-50.translate-middle.h-100.w-100.d-flex.flex-column.justify-content-end.gradient-background.pe-none(style="margin-top: 10px;")
            .position-absolute.bottom-0.start-0.p-3.w-100
              h4.fw-bold.text-decoration-none(style="overflow:hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;") #{random_track_info.name}

    h4#popular.mb-3.fw-bold(v-show="is_popular_list_visible" style="display:none;") #{__("homepage_popular_header")}
    .row.popular-video-grid-container.mb-5.gy-4(v-show="is_popular_list_visible" style="display:none;")
      +loading_popup()(v-show="is_popular_list_visible && popular_uploads_list.length === 0")
      track-item(v-for="upload in popular_uploads_list" :key="upload._id" :title="upload.name" :href=("`?track_id=${upload._id}`")  :img_src="upload.img_src" :listeners_count="upload.listeners ? upload.listeners.length : 0" :favorites_count="upload.favorites.length" :comments_count="upload.comments.length" :poster="upload.poster" :upload_time="upload.upload_time")

    a(href="/comments")#comments.mb-3.d-block
      h4.fw-bold #{__("new_comments")}
    .row.flex-nowrap.overflow-auto.pb-4.mb-5.mx-1(style="height: 47vh;")
      +loading_popup()(v-show="comments_list.length === 0 && !is_comments_empty")
      +empty_popup()(v-show="comments_list.length === 0 && is_comments_empty" style="display:none;")
      .card-background.col-12.col-sm-6.col-lg-4.me-4.p-0.h-auto(v-for="comment in comments_list.slice(0, 10)" )
        .overflow-hidden.position-relative.w-100.h-50(:src="comment.post.img_src_wide" style="background-size: cover; background-position:center; background-repeat: no-repeat; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;" :style="{ 'background-image': 'url(' + comment.post.img_src_wide + ')' }")
          .position-absolute.bottom-0.start-0.h-100.gradient-background.px-5(style="width:150%;")
          a.position-absolute.bottom-0.start-0.px-3.pb-1.text-secondary.text-truncate.mw-100.fw-bold.text-decoration-none(:href="`/?track_id=${comment.post._id}`") {{ comment.post.name }}
        .p-4.pt-1.w-100.mh-50
          comment-item.mt-4.mw-100(:id="comment.info._id" :username="comment.info.user.username" :href="`/user/${comment.info.user.username}`" :avatar_url="comment.info.user.avatar_url" :content="comment.info.content" :timestamp="comment.info.timestamp")

    h4#newest.mb-3.fw-bold #{__("new_track")}
    .row.video-grid-container.gy-4
      +loading_popup()(v-show="uploads_list.length === 0 && !is_empty")
      +empty_popup()(v-show="uploads_list.length === 0 && is_empty" style="display:none;")

      track-item(v-for="upload in uploads_list" :key="upload._id" :title="`${upload.name}`" :href=("`?track_id=${upload._id}`")  :img_src="upload.img_src" :listeners_count="upload.listeners ? upload.listeners.length : 0" :favorites_count="upload.favorites.length" :comments_count="upload.comments.length" :poster="upload.poster" :upload_time="upload.upload_time")

    nav(aria-label='pagination').mt-5
      ul.pagination.justify-content-center.align-items-center.mw-100.d-flex.flex-row.flex-wrap
        page-item(v-for="page in pages" :id="page.text" :text="page.text" :href="page.href" :onclick="page.onclick" :class="{active: page.isActive, disabled: page.isDisabled}")

    span(style="padding-bottom: 200px; display: block;")

    progress-bar(ref="progressbar" style="z-index: 200;")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Autocomplete JS
script(src="/js/lib/autocomplete.js")

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// For Markdown rendering
script(src="/js/lib/marked.min.js")
script(src="/js/lib/purify.min.js")

// Moment.js
script(src="/js/lib/moment.min.js")

script(type='module' src='./js/homepage.js')
