doctype html

include partials/uboa
include partials/toast
include partials/nav
include partials/head
include partials/wallpaper
+uboa

- var meta_title
+head(`${__("login_header")} / ${meta_title}`)

body
    +nav(false)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4.text-center#app
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-5.card-background.p-5.mb-5.text-start
                h1.mb-4.fw-bold #{__("login_header")}

                form(@submit.prevent="login")
                    .input-group.flex-column.text-start
                        label.pb-2 #{__("login_username")}
                        input(type="text" placeholder=__("login_username") v-model="username" required name="username").form-control.w-100.rounded

                        label.mt-3.pb-2 #{__("login_password")}
                        input(type="password" placeholder=__("login_password") v-model="password" required name="password").form-control.w-100.rounded

                        .d-flex.flex-row.mt-4
                            input#remember-me-checkbox(type="checkbox" value="" v-model="remember_me" name="remember-me").form-check-input.p-2
                            label.ms-2(for="remember-me-checkbox") #{__("login_remember_me")}

                        .d-flex.flex-row.mt-4.w-100.justify-content-between.align-items-center
                            button.round-button.py-2.w-100.fw-bold(type="submit") #{__("login_submit")}

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

script(type="module" src="/js/login.js")
