doctype html

include partials/uboa
include partials/toast
include partials/head
include partials/wallpaper
include partials/nav
+uboa

- var meta_title
+head(`${__("preferences_header")} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    #app.container-fluid.mt-4.text-center
        .row.justify-content-center.align-items-center.m-0
            .col.col-md-5.card-background.p-5.mb-5.text-start
                h1 #{__("preferences_header")}

                .mb-4

                form(@submit.prevent="updatePreferences")
                    .input-group.flex-column.text-start
                        .dropdown
                          button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                            | #{__("preferences_language")}
                          ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                            li
                              a.dropdown-item(@click="setLanguage('en')") #{__("preferences_language_en")}
                            li
                              a.dropdown-item(@click="setLanguage('ja')") #{__("preferences_language_ja")}

                        //- .d-flex.flex-row.mt-4
                        //-     input#randomize-bg-checkbox(type="checkbox" v-model="preferences.randomize_bg").form-check-input.p-3
                        //-     .d-flex.flex-column.ms-2
                        //-         label(for="randomize-bg-checkbox") Dynamic wallpaper

                        //-         #dynamic-wallpaper-detail
                        //-             p.text-secondary Don't load up new background images when you're browsing the site.
                        //-             p.text-secondary This is useful if you're experiencing slow connections.

                        //- .d-flex.flex-row.align-items-start.mt-3
                        //-     input#auto-join-checkbox(type="checkbox" v-model="preferences.auto_join_chat").form-check-input.p-3
                        //-     .d-flex.flex-column.ms-2
                        //-         label.flex-grow-(for="auto-join-checkbox") Automatically join chat room

                        //- .d-flex.flex-row.mt-5.w-100
                        //-     button.round-button.py-1.px-4(type="submit") #{__("save_button")}

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")


if user_info
  script.
      let client_info = !{JSON.stringify({ preferences: user_info.preferences, username: user_info.username} )};
      let language = "#{lang}";
else
  script.
      let client_info = {};
      let language = "#{lang}";

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

script(type="module" src="/js/preferences.js")
