doctype html

include partials/head
include partials/nav
include partials/toast
include partials/wallpaper
include partials/empty_popup
include partials/uboa
+uboa

-var profile_info
-var is_current_user

+head(`${profile_info.username} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4#app
        .row.justify-content-center.align-items-center.m-0#uploads-list
            .col.col-md-6.card-background.p-5.mb-3
                .d-flex.flex-row.flex-wrap.w-100
                    div.position-relative(style="flex-shrink: 0; height: 6rem; width: 6rem;").me-3
                        img#avatar.user-avatar.rounded-circle.h-100.w-100(src=profile_info.avatar_url style=" object-fit: cover;")
                        if user_info && is_current_user
                            form#avatar-form(ref="user-avatar" enctype="multipart/form-data" method="post" action="/user/update-avatar")
                                label#avatar-edit-button.round-button.bottom-0.start-0.position-absolute(for="filepicker" style="cursor: pointer;").px-1.py-1 #{__("profile_edit_avatar")}
                                input#filepicker(type="file" accept="image/*" name="image" style='position: absolute; left: -30000000px; overflow: hidden;' v-on:input="uploadNewAvatar($event)")
                    .d-flex.flex-column.text-start
                        h3.fw-bold #{profile_info.username}

                        p.text-secondary(title=profile_info.registered_on) #{__("profile_registered_on")}: {{ relative_registered_on }}
                        p.text-secondary(v-show="relative_last_seen") #{__("profile_last_seen")}: {{ relative_last_seen }}
                        p.text-secondary #{__("profile_rank")}: #{__(profile_info.rank)}
                        .d-flex.flex-row
                            p#uploads-counter.text-secondary(style="text-decoration: underline; cursor: pointer;" v-on:click="is_uploads_list_visible = !is_uploads_list_visible") {{ uploads_count }} #{__("profile_uploads_count")}
                            a.ms-3#favorites-counter.text-secondary(style="text-decoration: underline; cursor: pointer;" href=`/user/${profile_info.username}/favorites`) {{ favorites_count }} #{__("profile_favorites_count")}

                - var listening_to
                if listening_to
                    div.mt-3
                      a.text-secondary(title=__("profile_listening_to_tooltip") href=`/?track_id=${listening_to._id}`) #{__("profile_listening_to",{track: listening_to.name})}

                hr(style="padding-top: 1px; opacity: 0.5;")

                div.w-100.text-left.mt-4.position-relative.h-auto
                    if user_info && is_current_user
                        p.text-tertiary(v-show="!is_editing && !is_editing_password" @click="is_editing = true" style="cursor: pointer;") #{__("profile_edit_desc")}
                        div.overflow-auto.w-100.pb-5.mb-5(ref="user-desc" v-show="!is_editing && !is_editing_password")

                        form(@submit.prevent="changeUserPassword")
                          .input-group(style="min-height: 5rem; display:none;" v-show="is_editing_password" )
                              label(for="password").px-2.py-1
                                h3.fw-bold #{__("profile_change_password")}
                              input(type="password" minlength="5" placeholder=__("register_password_placeholder") required v-model.lazy="user_password" id="password").w-100.rounded.form-control
                              .d-flex.flex-row.w-100.justify-content-end.align-items-center.mt-3
                                  button.round-button.px-2.py-1.me-3(@click="cancelUserPassword" type="button") #{__("cancel_button")}
                                  button.round-button.px-2.py-1(type="submit") #{__("save_button")}

                        .input-group(style="min-height: 5rem; display:none;" v-show="is_editing")
                            textarea(id="description-edit-area" maxlength=1000 style="resize: vertical; min-height: 5rem;" v-model.lazy="user_description" rows="10").w-100
                            .d-flex.flex-row.w-100.justify-content-end.align-items-center.mt-3
                                button.round-button.px-2.py-1.me-3(@click="cancelUserDescription") #{__("cancel_button")}
                                button.round-button.px-2.py-1(@click="changeUserDescription") #{__("save_button")}

                        if user_info && is_current_user
                            .d-flex.flex-column.align-items-start.justify-content-start
                                form#background-form(ref="background-form" enctype="multipart/form-data" method="post" action="/user/update-background" v-show="!is_editing && !is_editing_password")
                                    label#background-edit-button.round-button(for="background-filepicker" style="cursor: pointer;").px-2.py-1 #{__("profile_upload_background")}
                                    input#background-filepicker(type="file" accept="image/*" name="image" style='position: absolute; left: -30000000px; overflow: hidden;' v-on:input="uploadNewBackground($event)")

                                if user_info.custom_background_url
                                    button.round-button.px-2.py-1.mt-3(@click="removeCustomBackground" v-show="!is_editing && !is_editing_password") #{__("profile_reset_background")}

                                button.round-button.px-2.py-1.mt-3(@click="is_editing_password = !is_editing_password" v-show="!is_editing && !is_editing_password") #{__("profile_change_password")}
                    else
                        div.overflow-auto.w-100.pb-5(ref="user-desc" v-show="!is_editing && !is_editing_password")

        .container-fluid(v-show="is_uploads_list_visible" style="display:none;").mb-5
            h3.text-start #{__("upload")}
            hr.gradient-hr
            .row.gy-4
                +empty_popup()(v-show="uploads_list.length === 0")
                track-item(v-for="upload in uploads_list" :key="upload._id" :title="upload.name" :href=("`/?track_id=${upload._id}`")  :img_src="upload.img_src" :favorites_count="upload.favorites.length" :comments_count="upload.comments.length" :poster="upload.poster" :upload_time="upload.upload_time")

script.
    let profile_info = !{JSON.stringify({ favorites: profile_info.favorites, username: profile_info.username } )};
    const MAX_AVATAR_SIZE = #{max_avatar_size}

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Moment.js
script(src="/js/lib/moment.min.js")

// For Markdown rendering
script(src="/js/lib/marked.min.js")
script(src="/js/lib/purify.min.js")

script(type="module" src="/js/profile.js")
