doctype html

include partials/head
include partials/uboa
+uboa

- var meta_title
+head(`${__("upload")} / ${meta_title}`)
  style(type="text/css").
    .track-item-description {
        display:none !important;
    }

include partials/nav
include partials/toast
include partials/wallpaper

body
    -var user_info
    +nav(true, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    +toast

    .container-fluid.mt-4#app
        .row.justify-content-center.align-items-center
            .col-12.col-md-6
                p.card-background.mb-3.p-3 #{__("upload_notice")}

                .input-group.card-background.grey-border
                    input.form-control.upload-input(ref="upload-box" v-model="upload_input" @input="parseUploadInput" type="text" placeholder=__("upload_placeholder") style="background: transparent !important; border: none;")
                    button(@click="upload" type="button").m-2.upload-button #{__("upload")}

                .container-fluid.video-thumbnail-list.mt-3.px-0
                    .row
                        track-item.col-md-6.col-lg-6(:style="{ visibility: track.is_visible ? 'visible' : 'hidden'}" :title="`${track.name}`" :img_src="track.img_src")

        progress-bar(ref="progressbar")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Autocomplete JS
script(src="/js/lib/autocomplete.js")

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Moment.js
script(src="/js/lib/moment.min.js")

script(type='module' src='./js/upload.js')
