doctype html

include partials/nav
include partials/toast
include partials/wallpaper
include partials/loading_popup
include partials/empty_popup
include partials/head
include partials/uboa
+uboa

- var meta_title
+head(`${__("users_header")} / ${meta_title}`)

body
    -var user_info
    +nav(false, user_info)

    - var bg_src
    +wallpaper(bg_src)

    noscript This site doesn&apos;t work without JavaScript. Please enable it.

    .container-fluid.content.mt-4.px-4.px-md-5.main-content#app
        h3#counter.fw-bold
            | {{ count }} #{__("users_counter")}

        .row#user-list
            +loading_popup()(v-show="users.length === 0 && !is_empty")
            +empty_popup()(v-show="users.length === 0 && is_empty" style='display:none;')

            user-card.p-1.p-sm-3(v-for="user in users" :title="user.username" :href="`/user/${user.username}`" :img_src="user.avatar_url" :desc="$t('message.user_registered_on', {time:user.relative_registered_on})" :desc2="user.description" :tooltip="user.description")

        span(style="padding-bottom: 200px; display: block;")

// Bootstrap
script(src="/js/lib/popper.js")
script(src="/js/lib/bootstrap.js")

// Vue
script(src="/js/lib/vue.js")
script(src="/js/lib/vuei18n.js")

// Moment.js
script(src="/js/lib/moment.min.js")

// For Markdown rendering
script(src="/js/lib/marked.min.js")
script(src="/js/lib/purify.min.js")

script(type='module' src='/js/users.js')
